@model List<TestWebAppCoolName.Models.Blog>
@{
    ViewBag.Title = "vKurzu.cz - " + this.ViewContext.RouteData.GetRequiredString("tagName");
    var tagName = this.ViewContext.RouteData.GetRequiredString("tagName");
}
<header class="header header--blog" id="site-header">
    @Html.Partial("toolbarPartialView")
</header>

<main class="main--blog">

    <div class="blog-grid">
        <h1 class="blog-headline">
            <div class="blog-headline__text">
                @{
                    foreach (var letter in tagName)
                    {
                        <span class="blog-headline__letter">@letter</span>
                    }
                }

            </div>
        </h1>

        @{
            var articleClassSuffix = "";
            var titleClass = "";
            for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    titleClass = "link--gradient";
                    articleClassSuffix = "primary";
                }
                if (i > 0 && i < 5)
                {
                    articleClassSuffix = $"secondary article-preview--secondary-{i}";
                }
                if (i >= 5)
                {
                    articleClassSuffix = "other";
                }

                <article class="article-preview article-preview--@articleClassSuffix">
                    @*<div class="article-preview__author">@Model[i].Author.FullName</div>*@
                    <h2 class="article-preview__title"><a class="@titleClass" href="@Url.Action("Index", "Blog", new {title = Model[i].UrlTitle})">@Model[i].Name</a></h2>
                    <p class="article-preview__text">@Model[i].Description</p>
                    <div class="article-preview__bottom-link"><a class="link--gradient link--border" href="@Url.Action("Index", "Blog", new {title = Model[i].UrlTitle})">Číst článek</a></div>
                </article>
                if (i == 0)
                {
                    <hr class="hr-blog hr-blog--1">
                }
                if (i == 4)
                {
                    <hr class="hr-blog hr-blog--2">
                }
                titleClass = "link--gradient-inversed";
            }
        }


    </div>
</main>
