@model TestWebAppCoolName.Controllers.Admin.TutorialCategoryViewModel

@{
    ViewBag.Title = "Edit Tutorial Category";
}
@Html.Partial("_adminLoginPartial")
<main class="main">



    @using (Html.BeginForm("EditTutorialCategory", "Admin", FormMethod.Post, new { @class = "admin-form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h3>Editovat kategorii tutorialu</h3>
        <div>

            <p class="form-item">
                @Html.LabelFor(model => model.TutorialCategory.Name)
                @Html.EditorFor(model => model.TutorialCategory.Name)
                @Html.ValidationMessageFor(model => model.TutorialCategory.Name)
            </p>
            <p class="form-item">
                @Html.LabelFor(model => model.TutorialCategory.Description)
                @Html.TextAreaFor(m => m.TutorialCategory.Description)
                @Html.ValidationMessageFor(m => m.TutorialCategory.Description)
            </p>

            <p class="form-item">
                @Html.LabelFor(m => m.TutorialCategory.UrlTitle)
                @Html.TextBoxFor(m => m.TutorialCategory.UrlTitle)
                @Html.ValidationMessageFor(model => model.TutorialCategory.UrlTitle)
            </p>
            <p class="form-item">
                @Html.LabelFor(m => m.Thumbnail)
                @Html.TextBoxFor(m => m.Thumbnail, new { type = "file", id = "SocialThumbnailImage" })
                @Html.ValidationMessageFor(m => m.Thumbnail)
            </p>
            <p class="form-item">
                @{
                    var path = Model.TutorialCategory.Thumbnail?.Path;

                    <img id="SocialThumbnailImagePlaceHolder" src="/@path" />
                }
            </p>
            <p>
                @Html.HiddenFor(m => m.TutorialCategory.Id)
                <button type="submit" id="save">Uložit</button>

            </p>
        </div>
    }


</main>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
