@model TestWebAppCoolName.Models.Tag

@{
    ViewBag.Title = "Edit Tag";
}

<main class="main">




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Vytvořit nový tag</h3>
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="form-item">
                @Html.LabelFor(model => model.Name)

                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </p>

            <p>

                <button type="submit">Uložit</button>

            </p>
        </div>
    }


</main>