@model dynamic

@{
    ViewBag.Title = "Admin";
}
@Html.Partial("_LoginPartial")
<main>

    <h2>Admin</h2>
    @Html.ActionLink("Kurzy", "Course", null, new { @class = "link--gradient" })
    @Html.ActionLink("Blog", "Blog", null, new { @class = "link--gradient" })
    @Html.ActionLink("Tagy", "Tag", null, new { @class = "link--gradient" })
    @Html.ActionLink("Lidi", "Person", null, new { @class = "link--gradient" })
</main>

