@model TestWebAppCoolName.Controllers.Admin.TutorialCategoryViewModel

@{
    ViewBag.Title = "New Tutorial Category";
}
@Html.Partial("_adminLoginPartial")
<main class="main">



    @using (Html.BeginForm("NewTutorialCategory", "Admin", FormMethod.Post, new { @class = "admin-form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h3>Vytvořit novou kategorii tutorialu </h3>
        <div>

            <p class="form-item">
                @Html.LabelFor(model => model.TutorialCategory.Name)
                @Html.EditorFor(model => model.TutorialCategory.Name)
                @Html.ValidationMessageFor(model => model.TutorialCategory.Name)
            </p>
            <p class="form-item">
                @Html.LabelFor(model => model.TutorialCategory.Description)
                @Html.TextAreaFor(m => m.TutorialCategory.Description)
                @Html.ValidationMessageFor(m => m.TutorialCategory.Description)
            </p>

            <p class="form-item">
                @Html.LabelFor(m => m.TutorialCategory.UrlTitle)
                @Html.TextBoxFor(m => m.TutorialCategory.UrlTitle)
                @Html.ValidationMessageFor(model => model.TutorialCategory.UrlTitle)
            </p>
            <p class="form-item">
                @Html.LabelFor(m => m.TutorialCategory.HeaderImage)
                @Html.TextBoxFor(m => m.TutorialCategory.HeaderImage, new { id = "HeaderImage" })
            </p>
            <p class="form-item">
                <img id="HeaderImagePlaceHolder" />
            </p>
            <p class="form-item">
                @Html.LabelFor(m => m.TutorialCategory.SocialSharingImage)
                @Html.TextBoxFor(m => m.TutorialCategory.SocialSharingImage, new { id = "SocialThumbnailImage" })
            </p>
            <p class="form-item">
                <img id="SocialThumbnailImagePlaceHolder" />
            </p>
            <p>
                <button type="submit" id="save">Vytvořit</button>

            </p>
        </div>
    }


</main>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}