@model IEnumerable<TestWebAppCoolName.Models.ApplicationUser>

@{
    ViewBag.Title = "Admin Lidi";
}
<body class="body--admin">
    @Html.Partial("_LoginPartial")
    <main>
        <div class="admin-list-header">
            <h1>Lidi</h1>
            @Html.ActionLink("Vytvořit", "Register", null, new { @class = "button" })
        </div>



        <ul class="admin-list">

            @foreach (var item in Model)
            {
                <li class="admin-list__item">
                    <div class="admin-list__cell admin-list__cell--info">
                        <div class="">@Html.DisplayFor(modelItem => item.Fullname)</div>
                        <div class="">@Html.DisplayFor(modelItem => item.Email)</div>
                    </div>

                <div class="admin-list__cell admin-list__cell--buttons">
                    @Html.ActionLink("Upravit", "EditPerson", new { id = item.Id }, new { @class = "link--gradient" })
                    @Html.ActionLink("Smazat", "DeletePerson", new { id = item.Id }, new { @class = "link--gradient" })
                </div>
                </li>

            }
        </ul>

    </main>
</body>
