@model TestWebAppCoolName.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrace nového lektora";
}
<body class="body--admin">
    @Html.Partial("_LoginPartial")
    <main class="main">

        <h3>@ViewBag.Title.</h3>

        @using (Html.BeginForm("Register", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
           
            <div>
                <p class="form-item">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                </p>
                <p class="form-item">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                </p>
                <p class="form-item">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </p>
                <p class="form-item">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </p>
                <p class="form-item">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </p>
                <p>
                    <button type="submit" id="save">Vytvořit</button>

                </p>
            </div>
           
        }
    </main>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
