@model IEnumerable<TestWebAppCoolName.Models.Tag>

@{
    ViewBag.Title = "Admin Tag";
}
<body class="body--admin">
@Html.Partial("_adminLoginPartial")
    <main class="main">
        <div class="admin-list-header">
            <h1>Tagy</h1>
            @Html.ActionLink("Vytvořit", "NewTag", null, new { @class = "button" })
        </div>

        <ul class="admin-list">

            @foreach (var item in Model)
            {


                <li class="admin-list__item">
                    <div class="admin-list__cell admin-list__cell--info">
                        <div class="">@Html.DisplayFor(modelItem => item.Name)</div>
                    </div>
                    <div class="admin-list__cell admin-list__cell--buttons">
                        @Html.ActionLink("Upravit", "EditTag", new { id = item.Id }, new { @class = "link--gradient" }) 
                        @Html.ActionLink("Smazat", "DeleteTag", new { id = item.Id }, new { @class = "link--gradient" })
                    </div>
                </li>
            }

        </ul>
    </main>
</body>