@model TestWebAppCoolName.Controllers.HomeViewModel
@{
    ViewBag.Title = "vKurzu.cz – pojď se učit s námi";
}

<body class="body body--index">

    <header class="header header--index" id="site-header">
        @Html.Partial("toolbarPartialView")
    </header>

    <main class="main">

        <div class="intro intro--index">
            <div class="intro__content">
                <div class="h1 main-heading">
                    <span class="intro__heading">Jsme</span>
                    <span class="flipper">
                        <span class="flipper__word">designeři</span>
                        <span class="flipper__word">vývojáři</span>
                        <span class="flipper__word">marketéři</span>
                    </span>
                </div>
                <p class="h2 intro__text">Za léta praxe jsme nasáli tuny zkušeností a vědomostí, které bychom rádi pustili do světa. Najměte nás a naučíme vás moderní způsoby vývoje nativních a webových aplikací.</p>
            </div>
        </div>

        <article class="courses" id="courses">
            <hr class="hr--invisible">
            <h1 class="main-heading courses__heading">Kurzy</h1>
            <p class="courses__text">Server, back-end, front-end, web design, UI design, mobile development. Nabízíme opravdu pestrou škálu kurzů, kterou bychom nadále rádi rozšiřovali.</p>
            <div class="courses-cards">

                @{
                    foreach (var course in Model.Courses.Where(c => c.Approved))
                    {
                        <div class="course-card" data-gradient="@course.Modificator">
                            <a class="course-card__link" href="@Url.Action("Index", "Course", new {title = course.UrlTitle})"></a>
                            <div class="course-card__content">
                                <div class="course-card__image">
                                    <svg viewBox="0 0 128 128">
                                        <linearGradient id="@course.Modificator" x1="0%" y1="0%" x2="66%" y2="100%"><stop offset="0%" stop-color="var(--grad-1)" /><stop offset="100%" stop-color="var(--grad-2)" /></linearGradient>

                                        @Html.Raw(course.Svg.Path)

                                    </svg>

                                </div>
                                <div class="course-card__info">
                                    <h2 class="h4 course-card__title"><a class="course-card__title-link" href="course.html">@course.Name</a></h2>
                                    <p class="course-card__desc">@course.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </article>
        <article class="blog">
            <hr>
            <div class="blog__heading h1">
                <h1 class="main-heading">Blog</h1>
            </div>
            <div class="article-previews">
                @{
                    foreach (var blog in Model.Blogs)
                    {
                        <article class="article-preview">
                            @*<div class="article-preview__author">@blog.Author.Name</div>*@
                            <h2 class="h4 article-preview__title"><a class="link--gradient-inversed" href="@Url.Action("Index", "Blog", new {title = blog.UrlTitle})">@blog.Name</a></h2>
                            <p class="article-preview__text">@blog.Description</p>
                            <div class="article-preview__bottom-link"><a class="link--gradient link--border" href="@Url.Action("Index", "Blog", new {title = blog.UrlTitle})">Číst článek</a></div>
                        </article>
                    }
                }


            </div>
            <div class="blog__link"><a class="link--gradient-inversed" href="@Url.Action("Index","Blog")">Všechny články →</a></div>
        </article>

        <article class="contact" id="contact">
            <hr>
            <h1 class="main-heading">Kontakt</h1>
            <p>Vešteré dotazy ohledně kurzů, blogu, čehokoliv, vesmíru s klidným svědomím vepište níže, od toho kontaktní formuláře existují.</p>
            <form class="contact-form" action="@Url.Action("SendEmail","Home")" method="post">

                @Html.TextBoxFor(m => m.FormModel.Email, new { placeholder = "E-mail", type = "email", @required = "required" })
                @Html.TextAreaFor(m => m.FormModel.Email, new { rows = "10", placeholder = "Co máte na srdci?", @required = "required" })

                <button class="contact-form__button" type="submit">Odeslat</button>
                @Html.AntiForgeryToken()
            </form>

            <div class="teachers">
                <h2 class="h4">Lektoři</h2>
                <p class="teachers__desc">Sterilní fotografie v bílé košili s úsměvem Mony Lisy nám nic neříkají. Možná není naše podoba v konečném důsledku ani důležitá – každopádně – tohle jsme my:</p>
                <div class="teachers__list">
                    <div class="person">
                        <div class="person__avatar person__avatar--dan">
                            <div class="person__img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="avatar-5" version="1.1" viewBox="0 0 544.68 544.68" xml:space="preserve">
                                <defs>
                                <linearGradient id="gradient-avatar-5" x1="0%" x2="66%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="var(--clr-purple)" />



                                <stop offset="100%" stop-color="var(--clr-pink)" />



        </linearGradient>
    </defs>
                                <g fill="url(#gradient-avatar-5)">
                                <path d="M361.08,278.461c0-3.379,2.742-6.121,6.119-6.121H526.32c3.377,0,6.119-2.741,6.119-6.12V156.06   c0-3.378-2.742-6.12-6.119-6.12h-42.84c-3.379,0-6.121-2.742-6.121-6.12V94.86c0-3.378-2.742-6.12-6.119-6.12H428.4   c-3.379,0-6.121-2.742-6.121-6.12V39.78c0-3.378-2.74-6.12-6.119-6.12H128.52c-3.378,0-6.12,2.742-6.12,6.12v42.84   c0,3.378-2.742,6.12-6.12,6.12H73.44c-3.378,0-6.12,2.742-6.12,6.12v48.96c0,3.378-2.742,6.12-6.12,6.12H18.36   c-3.378,0-6.12,2.742-6.12,6.12v110.16c0,3.378,2.742,6.12,6.12,6.12h159.12c3.378,0,6.12,2.742,6.12,6.121v42.84   c0,3.377,2.742,6.119,6.12,6.119h165.239c3.379,0,6.121-2.742,6.121-6.119V278.461z M238.68,205.021c0,3.378-2.742,6.12-6.12,6.12   h-97.92c-3.378,0-6.12-2.742-6.12-6.12v-48.96c0-3.378,2.742-6.12,6.12-6.12h97.92c3.378,0,6.12,2.742,6.12,6.12V205.021z    M312.119,211.14c-3.377,0-6.119-2.742-6.119-6.12v-48.96c0-3.378,2.742-6.12,6.119-6.12h97.92c3.379,0,6.121,2.742,6.121,6.12   v48.96c0,3.378-2.742,6.12-6.121,6.12H312.119z" />



                                <path d="M177.48,327.42h-48.96c-3.378,0-6.12,2.742-6.12,6.121V382.5c0,3.379,2.742,6.121,6.12,6.121h48.96   c3.378,0,6.12-2.742,6.12-6.121v-48.959C183.6,330.162,180.858,327.42,177.48,327.42z" />



                                <path d="M116.28,388.621H67.32c-3.378,0-6.12,2.74-6.12,6.119v48.961c0,3.377,2.742,6.119,6.12,6.119h48.96   c3.378,0,6.12-2.742,6.12-6.119V394.74C122.4,391.361,119.658,388.621,116.28,388.621z" />



                                <path d="M55.08,449.82H6.12c-3.378,0-6.12,2.742-6.12,6.119V504.9c0,3.379,2.742,6.119,6.12,6.119h48.96   c3.378,0,6.12-2.74,6.12-6.119v-48.961C61.2,452.562,58.458,449.82,55.08,449.82z" />



                                <path d="M422.279,333.541c0-3.379-2.74-6.121-6.119-6.121h-48.961c-3.377,0-6.119,2.742-6.119,6.121V382.5   c0,3.379,2.742,6.121,6.119,6.121h48.961c3.379,0,6.119-2.742,6.119-6.121V333.541z" />



                                <path d="M483.48,394.74c0-3.379-2.742-6.119-6.121-6.119H428.4c-3.379,0-6.121,2.74-6.121,6.119v48.961   c0,3.377,2.742,6.119,6.121,6.119h48.959c3.379,0,6.121-2.742,6.121-6.119V394.74z" />



                                <path d="M538.561,449.82H489.6c-3.379,0-6.119,2.742-6.119,6.119V504.9c0,3.379,2.74,6.119,6.119,6.119h48.961   c3.377,0,6.119-2.74,6.119-6.119v-48.961C544.68,452.562,541.938,449.82,538.561,449.82z" />



    </g>
</svg>
                            </div>
                        </div>
                        <div class="person__bio">
                            <h3 class="h6">Daniel Hruška</h3>
                            <p> <small>UX Designer</small></p>
                        </div>
                    </div>
                    <div class="person">
                        <div class="person__avatar person__avatar--honza">
                            <div class="person__img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="avatar-6" viewBox="0 0 587.52 587.52" xml:space="preserve">
                                <defs>
                                <linearGradient id="gradient-avatar-6" x1="0%" x2="66%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="var(--clr-yellow)" />



                                <stop offset="100%" stop-color="var(--clr-orange)" />



        </linearGradient>
    </defs>
                                <g fill="url(#gradient-avatar-6)">
                                <path d="M483.896,444.868c0,0.031,0,0.062,0,0.092l0.122-0.092C483.981,444.868,483.938,444.868,483.896,444.868z" />



                                <path d="M484.013,444.875c0.006-0.007-0.116,0.085-0.116,0.085c0.036,0,0.079,0,0.116,0   C484.013,444.936,484.013,444.905,484.013,444.875z" />



                                <path d="M103.501,444.868l0.122,0.092c0-0.03,0-0.061,0-0.092C103.581,444.868,103.538,444.868,103.501,444.868z" />



                                <path d="M483.479,91.8c-18.359,0-36.72,0-55.08,0c0,18.36,0,30.6,0,48.96c18.36,0,36.721,0,55.08,0   C483.479,122.399,483.479,110.16,483.479,91.8z" />



                                <path d="M532.439,244.799c-12.239,0-30.6,0-48.96,0c0-18.36,0-36.72,0-55.08c-18.359,0-36.72,0-55.08,0c0-12.24,0-30.6,0-48.96   c-18.359,0-36.72,0-55.079,0c0,18.36,0,36.72,0,48.96c-24.48,0-52.981,0-79.561,0c-24.48,0-55.08,0-79.56,0c0-12.24,0-30.6,0-48.96   c-18.36,0-36.72,0-55.08,0c0,18.36,0,36.72,0,48.96c-18.36,0-36.72,0-55.08,0c0,18.36,0,36.72,0,55.08c-18.36,0-36.72,0-48.96,0   c0-36.72,0-67.32,0-104.04c-18.36,0-36.72,0-55.08,0c0,67.32,0,134.64,0,201.96c18.36,0,30.6,0,48.96,0c0,18.359,0,36.72,0,55.08   c18.36,0,36.72,0,55.08,0c0,11.224,0,29.522,0,47.393c-13.941,0.196-27.155,0.178-41.102,0.367   c-2.956,0.037-7.858,0.007-7.858,0.007c0,16.793,0,31.793,0,50.153c12.24,0,31.64,0,48.439,0c0-17.778,0.686-32.896,0.729-48.96   h0.006c18.293,0,36.58,0,54.866,0c0-18.36,0-36.721,0-48.96c48.96,0,91.8,0,134.64,0c44.297,0,85.68,0,134.64,0   c0,12.239,0,30.6,0,48.96c18.293,0,36.58,0,54.866,0c0,0,0.006,0,0.013,0c0.036,16.064,0.728,31.182,0.728,48.96   c16.794,0,36.194,0,48.434,0c0-18.36,0-33.36,0-50.153c0,0-4.901,0.03-7.857-0.007c-13.947-0.184-27.161-0.165-41.103-0.367   c0-17.87,0-36.169,0-47.393c18.36,0,36.721,0,55.08,0c0-18.36,0-36.721,0-55.08c18.36,0,30.601,0,48.96,0   c0-67.32,0-134.64,0-201.96c-18.359,0-36.72,0-55.08,0C532.439,177.479,532.439,208.08,532.439,244.799z M214.2,293.76   c0,9.425,0,19.994,0,30.6c-18.36,0-36.72,0-55.08,0c0-10.605,0-21.175,0-30.6c0-6.206,0-12.393,0-18.36c18.36,0,36.72,0,55.08,0   C214.2,281.367,214.2,287.554,214.2,293.76z M428.399,293.76c0,9.425,0,19.994,0,30.6c-18.359,0-36.72,0-55.079,0   c0-10.605,0-21.175,0-30.6c0-6.206,0-12.393,0-18.36c18.359,0,36.72,0,55.079,0C428.399,281.367,428.399,287.554,428.399,293.76z" />



                                <path d="M104.04,91.8c0,18.36,0,30.6,0,48.96c18.36,0,36.72,0,55.08,0c0-18.36,0-30.6,0-48.96C140.76,91.8,122.4,91.8,104.04,91.8z   " />



                                <path d="M103.507,444.967c0.037,0,0.08,0,0.116,0c0,0-0.122-0.092-0.116-0.086C103.507,444.905,103.507,444.936,103.507,444.967z" />



    </g>
</svg>
                            </div>
                        </div>
                        <div class="person__bio">
                            <h3 class="h6">Jan Fujdiar</h3>
                            <p><small>Programátor </small></p>
                        </div>
                    </div>
                    <div class="person">
                        <div class="person__avatar person__avatar--honza">
                            <div class="person__img">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="avatar-7" version="1.1" viewBox="0 0 550.801 550.801" xml:space="preserve">
                                <defs>
                                <linearGradient id="gradient-avatar-7" x1="0%" x2="66%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="var(--clr-orange)" />

                                <stop offset="100%" stop-color="var(--clr-red)" />

                                    </linearGradient>
                                  </defs>
                                <g fill="url(#gradient-avatar-7)">
                                <path d="M539.943,300.189c-10.674,0-21.469,0.031-32.143-0.023c-1.555-0.008-2.16-0.148-3.941-0.307   c-1.641-0.146-2.02-1.586-2.02-3.232c0-14.656,0-28.782,0-43.145c0-1.646-2.344-2.98-3.99-2.98c-12.895,0-25.605,0.006-37.814,0   c-9.609-0.006-9.873-0.012-9.885-9.835c-0.006-12.381-0.129-25.239-0.129-38.293c0-1.646-1.463-3.458-3.109-3.458   c-14.914,0-29.1,0-43.844,0c-1.633,0-5.268-0.374-5.268-2.014c0-14.761,0-28.929,0-43.525c0-1.646-0.184-2.98-1.824-2.98   c-11.604-0.012-21.971-0.08-32.92,0.024c-14.148,0.128-12.105-1.885-12.221,12.821c-0.086,11.083,0.115,21.897,0.121,32.969   c0,1.646-1.188,2.711-2.834,2.711c-24.436,0-48.598,0-72.717,0s-48.281,0-72.718,0c-1.646,0-2.98-1.065-2.98-2.711   c0.006-11.065,0.067-22.02-0.018-33.103c-0.116-14.713,1.64-12.626-12.509-12.754c-10.949-0.104-20.747,0-32.351,0.012   c-1.646-0.006-1.83,1.365-1.83,3.011c0,14.596,0,28.764,0,43.525c0,1.64-3.635,2.014-5.282,2.014c-14.737,0-28.929,0-43.844,0   c-1.646,0-2.98,1.817-2.98,3.458c0,13.054,0.006,25.673,0,38.048c-0.006,9.822-0.018,9.951-9.626,9.957   c-12.209,0.006-25.422,0.061-38.317,0.061c-1.646,0-3.99,1.396-3.99,3.042c0,14.357,0,28.483,0,43.145   c0,1.646-0.318,3.086-1.958,3.232c-1.781,0.158-2.833,0.299-4.388,0.307c-10.673,0.055-21.334,0.023-32.007,0.023   C-0.006,300.189,0,300.195,0,310.477c0,56.598,0,113.203,0,169.801c0,5.201,0,10.41,0,15.887c0,1.646,1.805,2.631,3.452,2.631   c14.755,0,28.751,0,43.281,0c1.652,0,2.228-0.984,2.228-2.631c0-47.65,0-94.977,0-142.834c0-1.646,2.087-1.408,3.733-1.408   c15.166,0,29.78,0,44.958,0c1.653-0.006,0.27-0.244,0.27,1.402c0,30.936,0,61.695,0,93.402c0,1.646,4.045,3.109,5.691,3.109   c14.945,0,29.321,0,43.654,0c1.646,0,4.425-0.006,4.351,0.061l0.019-0.023c0.349,0.264,1.365,1.395,1.365,2.814   c0,14.328,0,28.678,0,43.416c0,1.641-1.42,2.691,0.227,2.691c31.524,0,62.161,0,93.146,0c1.64,0,4.547-1.051,4.547-2.697   c0-14.236,0-28.195,0-43.152c0-1.641-2.907-3.109-4.553-3.109c-31.182,0-62.29,0-93.397,0c-0.734,0-1.083,0-1.279-0.006   c0.171-0.012,1.31-1.354,1.31-2.846c0-14.578,0-29.174,0-44.145c0-1.646-1.671-1.965-0.031-1.965c40.906,0,81.628,0,122.431,0   c40.801,0,81.524,0,122.43,0c1.641,0-0.029,0.318-0.029,1.965c0,14.971,0,29.566,0,44.145c0,1.498,1.15,2.852,1.309,2.852l0,0   c0.012,0.012,0.043,0.043,0.043,0.043c0.018-0.018,0.043-0.031,0.055-0.043l0,0c-0.012,0.012-0.037,0.023-0.061,0.043   c0,0,0.023,0.023,0.018,0.018c-0.055-0.066,2.725-0.061,4.371-0.061c14.338,0,28.709,0,43.652,0c1.646,0,5.693-1.463,5.693-3.109   c0-31.707,0-62.467,0-93.402c0-1.646-1.385-1.408,0.262-1.408c15.178,0,29.799,0,44.959,0c1.645,0,3.732-0.238,3.732,1.408   c0,47.863,0,95.189,0,142.834c0,1.646,0.574,2.631,2.221,2.631c14.535,0,28.525,0,43.281,0c1.658,0.006,3.465-0.979,3.465-2.625   c0-5.477,0-10.68,0-15.887c0-56.598,0-113.203,0-169.801C550.801,300.195,550.555,300.189,539.943,300.189z M250.92,296.982   c0,1.646-2.411,5.973-4.058,5.973c-31.322,0-62.081,0-93.348,0c-1.64,0-0.514-4.326-0.514-5.973c0-14.656,0-29.186,0-44.076   c0-1.646-1.126-5.03,0.514-5.03c31.132,0,62.204,0,93.342,0c1.646,0,4.064,3.384,4.064,5.03   C250.92,267.821,250.92,282.338,250.92,296.982z M397.285,302.955c-31.266,0-62.025,0-93.348,0c-1.646,0-4.057-4.326-4.057-5.973   c0-14.645,0-29.162,0-44.076c0-1.646,2.416-5.03,4.057-5.03c31.139,0,62.217,0,93.342,0c1.646,0,0.521,3.384,0.521,5.03   c0,14.89,0,29.42,0,44.076C397.801,298.629,398.926,302.955,397.285,302.955z" />

                                <path d="M304.434,449.836c-1.646,0-4.553,1.469-4.553,3.115c0,14.951,0,28.91,0,43.152c0,1.641,2.906,2.691,4.547,2.691   c30.984,0,61.615,0,93.146,0c1.646,0,0.227-1.051,0.227-2.697c0-14.738,0-29.09,0-43.416c0-1.42,1.016-2.547,1.357-2.803   c0,0-0.029-0.043-0.043-0.043c-0.195,0-0.551,0-1.285,0C366.723,449.836,335.615,449.836,304.434,449.836z" />

                                <path d="M454.68,100.996c14.174,0,28.018,0,42.086,0c1.646,0,5.074-3.25,5.074-4.89c0-14.357,0-28.427,0-42.767   c0-1.646-3.428-1.304-5.074-1.304c-14.125,0-27.961,0-42.086,0c-1.646,0-1.799-0.343-1.799,1.304c0,14.388,0,28.452,0,42.767   C452.881,97.746,453.033,100.996,454.68,100.996z" />

                                <path d="M404.367,149.956c14.033,0,27.742,0,42.094,0c1.645,0,0.299-2.484,0.299-4.131c0-14.314,0-28.127,0-42.093   c0-1.646,1.346-2.736-0.299-2.736c-14.297,0-28.244,0-42.094,0c-1.646,0-0.447,1.09-0.447,2.736c0,14.241,0,28.073,0,42.087   C403.92,147.465,402.721,149.956,404.367,149.956z" />

                                <path d="M54.033,100.996c14.076,0,27.914,0,42.087,0c1.646,0,1.799-3.25,1.799-4.89c0-14.314,0-28.378,0-42.767   c0-1.646-0.153-1.304-1.799-1.304c-14.125,0-27.962,0-42.087,0c-1.646,0-5.073-0.343-5.073,1.304c0,14.333,0,28.403,0,42.767   C48.96,97.746,52.387,100.996,54.033,100.996z" />

                                <path d="M104.34,149.956c14.352,0,28.06,0,42.093,0c1.646,0,0.447-2.491,0.447-4.131c0-14.015,0-27.852,0-42.087   c0-1.652,1.2-2.742-0.447-2.742c-13.85,0-27.797,0-42.093,0c-1.646,0-0.3,1.09-0.3,2.736c0,13.96,0,27.779,0,42.093   C104.04,147.471,102.693,149.956,104.34,149.956z" />

                                 </g>
                                </svg>
                            </div>
                        </div>
                        <div class="person__bio">
                            <h3 class="h6">David Koráb</h3>
                            <p><small>Social media guru </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </article>


    </main>


</body>

@section scripts {

    <script type="text/javascript">

        @{
            if (Model.ShowAlert){
              @: Swal.fire('Děkujeme', 'Brzy Vám odpovíme', 'success');
              Model.ShowAlert = false;
            }
         }






    </script>

}