@model IEnumerable<TestWebAppCoolName.Models.Blog>

@{
    ViewBag.Title = "Index";
}


<main class="main">
<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "link--gradient" }) |
                @Html.ActionLink("Detail", "Index","Blog", new { title = item.UrlTitle }, new { @class = "link--gradient" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "link--gradient" })
            </td>
        </tr>
    }

</table>
</main>  