@using TestWebAppCoolName.Helpers
@model TestWebAppCoolName.Controllers.BlogViewModel

<body class="body body-article">
    <header class="header header--article" id="site-header">
        <nav class="nav">
            <a class="site-branding" href="@Url.Action("Index","Home")">
                <div class="site-logo">
                    <svg width="128px" height="128px" viewBox="0 0 128 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <linearGradient id="gradient-logo" x2="0" y2="2"><stop offset="0%" stop-color="var(--clr-primary)" /><stop offset="100%" stop-color="var(--clr-secondary)" /></linearGradient>
                        <path d="M50.2916265,15.1816557 C53.2237995,10.1192138 58.641442,7 64.5044262,7 C70.3674104,7 75.7850529,10.1192138 78.7172259,15.1816557 C92.1959609,38.4596546 112.335754,73.2435736 125.804956,96.505277 C128.731681,101.558213 128.731681,107.783061 125.804956,112.83464 C122.879592,117.887576 117.474207,121 111.622118,121 C84.6564765,121 44.3237759,121 17.3649439,121 C11.5183026,121 6.11564095,117.890292 3.19300122,112.841429 C0.268999593,107.792567 0.268999593,101.573151 3.19300122,96.5242883 C16.662203,73.2612269 36.8101676,38.4664443 50.2916265,15.1816557 Z"></path>
                    </svg>
                </div><h1 class="h6 site-name link--gradient">Cool Name</h1>
            </a><ul class="nav__list"><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#courses">Kurzy</a></li><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Blog",new{title = "index"})">Blog</a></li><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#contact">Kontakt</a></li></ul>
        </nav>
    </header>
    <main class="main--article">
        <article class="article">
            <header class="article__header">
                <div class="article__details-wrapper">
                    <h1 class="article__title">@Model.Blog.Name</h1>
                    <div class="article__tags">
                        @{
                            foreach (var tag in Model.Blog.Tags)
                            {
                                <span class="tag">@tag.Name</span>
                            }
                        }
                    </div>
                    <div class="article__details">
                        <div class="article__author">@Model.Blog.Author.FullName</div>
                        <time class="article_release-date">@Model.Blog.Created.ToString("d. M. yyyy")</time>
                    </div>
                </div><!--hr.article__header-hr-->
            </header>
            <div class="article__content">
                <p>
                    <div id="editor"></div>

                </p>
                @{
                    if (@Model.RelatedCourse != null)
                    {

                        <aside class="related-course">
                            <h5 class="h6 related-course__heading">Související kurz</h5>
                            <div class="course-card course-card--css-advanced course-card--related">
                                <a class="course-card__link" href="@Url.Action("Index", "Course", new {title =Model.RelatedCourse.UrlTitle})"></a>
                                <div class="course-card__content">
                                    <div class="course-card__image">
                                        <svg viewBox="0 0 128 128">
                                            <linearGradient id="gradient-css-advanced" x2="0" y2="1">
                                                <stop offset="0%" stop-color="var(--course-card-bg-1)" />
                                                <stop offset="100%" stop-color="var(--course-card-bg-2)" />
                                            </linearGradient>
                                            @Html.Raw(Model.RelatedCourse.Svg)

                                        </svg>
                                    </div>
                                    <div class="course-card__info">
                                        <h6 class="course-card__title"><a class="course-card__title-link" href="course.html">@Model.RelatedCourse.Name</a></h6>
                                        @{
                                            var length = 100;

                                            if (Model.RelatedCourse.Description.Length < 100)
                                            {
                                                length = Model.RelatedCourse.Description.Length;
                                            }
                                            <p class="course-card__desc">@Model.RelatedCourse.Description.Substring(0, length)</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </aside>

                    }
                }


            </div>
        </article>
        <aside class="related-articles">
            <hr>
            <h2 class="related-articles__heading">Čtěte dále</h2>
            <div class="related-articles__grid">
                @{
                    var articles = new DataService().GetRelatedArticles(Model.Blog);
                    foreach (var article in articles.Where(a=>!a.Deleted))
                    {
                        <article class="article-preview">
                            <div class="article-preview__author">@article.Author.FullName</div>
                            <h3 class="h4 article-preview__title"><a class="link--gradient-inversed" href="@Url.Action("Index","Blog",new{title =article.UrlTitle})">@article.Name</a></h3>
                            <p class="article-preview__text">@article.Description</p>
                            <div class="article-preview__bottom-link"><a class="link--gradient link--border" href="@Url.Action("Index","Blog",new{title =article.UrlTitle})">Číst článek</a></div>
                        </article>
                    }
                }

            </div>
        </aside>
    </main>
    <footer class="footer">
        <hr>
        <nav class="nav" role="navigation">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#courses">Kurzy</a></li>
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Blog",new{title = "index"})">Blog</a></li>
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#contact">Kontakt</a></li>
            </ul>
        </nav>
        <p><small>&copy; <span id="copyright-year">@DateTime.Now.Year</span> V Kurzu</small></p>
    </footer>
</body>



@section scripts {

    <script type="text/javascript">

        let quill = new Quill('#editor',
            {
               
            });

        $(document).ready(function () {
            console.log()

            quill.setContents(@Html.Raw(Model.Blog.Body))
            quill.enable(false);
        });

    

    </script>

}
