
@using TestWebAppCoolName.Helpers
@model TestWebAppCoolName.Controllers.BlogViewModel

@{
    ViewBag.Title = "title";

}

<main class="main">
    <section class="courses">
        <h1 class="main-heading courses__heading">Editovat blog</h1>
        @using (Html.BeginForm("Edit", "Blog", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.LabelFor(m => m.Blog.Name)
                @Html.TextBoxFor(m => m.Blog.Name)
                @Html.ValidationMessageFor(m => m.Blog.Name)
            </p>

            <p>
                @Html.LabelFor(m => m.Blog.Description)
                @Html.TextAreaFor(m => m.Blog.Description)
                @Html.ValidationMessageFor(m => m.Blog.Description)
            </p>
            <p>
                @Html.LabelFor(m => m.Blog.Author_Id)
                @Html.DropDownListFor(m => m.Blog.Author_Id, new SelectList(Model.Persons, "Id", "Name"))
                @Html.ValidationMessageFor(m => m.Blog.Author_Id)
            </p>
            <p>
                @Html.LabelFor(m => m.Blog.UrlTitle)
                @Html.TextBoxFor(m => m.Blog.UrlTitle)
                @Html.ValidationMessageFor(m => m.Blog.UrlTitle)
            </p>
            <div>

            <div class="subject-info-box-1">
                <select multiple="multiple" id='lstBox1' class="form-control">
                    @if (Model.Blog?.Tags != null)
                    {
                        foreach (var tag in Model.Blog.Tags)
                        {
                            <option value="@tag.Name">@tag.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="subject-info-arrows text-center">
                <input type='button' id='btnRight' value=&gt; class="btn btn-default" /><br />
                <input type='button' id='btnLeft' value=&lt; class="btn btn-default" /><br />
            </div>



            <div class="subject-info-box-2">
                <select multiple="multiple" id='lstBox2' class="form-control">
                    @foreach (var tag in new DataService().GetTags())
                    {
                        bool exist = false;
                        if (Model.Blog?.Tags != null)
                        {
                            exist = (Model.Blog.Tags).Any(t => t.Id == tag.Id);
                        }
                        if (!exist)
                        {
                            <option value="@tag.Name">@tag.Name</option>
                        }
                    }
                </select>
            </div>
            <p>
                <label>tagy</label>

                @Html.TextBoxFor(m => m.Tagy, "...", new { id = "tags", name = "Tagy", @readonly = "readonly" })

            </p>

            </div>

            <p>
                @Html.HiddenFor(m => m.Blog.Id)
                <button type="submit">Vytvořit</button>
                <div id="pageloader" style="display: none;">
                    <img src="/media/30.svg" alt="processing..." />
                </div>
            </p>
            <span>@ViewBag.Message</span>
            if (ViewData["Saved"] != null)
            {
                @Html.Label(ViewData["Saved"].ToString())
            }
        }

    </section>
</main>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

          

            $("#myform").on("submit", function () {
                console.log("submit pressed")
                $("#pageloader").toggle();
            });//submit
        });
    </script>

}

