@model List<TestWebAppCoolName.Models.Blog>
<header class="header header--blog" id="site-header">
    @Html.Partial("toolbarPartialView")
</header>

<main class="main--blog">

    <div class="blog-grid">
        <h1 class="blog-headline">
            <div class="blog-headline__text"><span class="blog-headline__letter">B</span><span class="blog-headline__letter">l</span><span class="blog-headline__letter">o</span><span class="blog-headline__letter">g</span></div></h1>
        
        @{
            var articleClassSuffix = "";
            for (int i = 0; i < Model.Count; i++) {
                if (i == 0) {
                    articleClassSuffix = "primary";
                }
                if (i>0 && i<5) {
                    articleClassSuffix = $"secondary article-preview--secondary-{i}";
                }
                if (i>=5) {
                    articleClassSuffix = "other";
                }

                <article class="article-preview article-preview--@articleClassSuffix">
                    <div class="article-preview__author">@Model[i].Author.FullName</div>
                    <h2 class="article-preview__title"><a class="link--gradient" href="@Url.Action("Index", "Blog", new {title = Model[i].UrlTitle})">@Model[i].Name</a></h2>
                    <p class="article-preview__text">@Model[i].Description</p>
                    <div class="article-preview__bottom-link"><a class="link--gradient link--border" href="@Url.Action("Index", "Blog", new {title = Model[i].UrlTitle})">Číst článek</a></div></article>
                if (i==0) {
                    <hr class="hr-blog hr-blog--1">
                }
                if (i==4) {
                    <hr class="hr-blog hr-blog--2">
                }
            }
        }

   
        </div>
</main>
<footer class="footer footer--blog">

    <hr>
    <nav class="nav" role="navigation">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#courses">Kurzy</a></li><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Blog")">Blog</a></li><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#contact">Kontakt</a></li>
            </ul></nav>
    <p>
        <small>&copy;
            <span id="copyright-year">2019</span> Cool Name</small></p>
</footer>