@using TestWebAppCoolName.Helpers
@model TestWebAppCoolName.Controllers.BlogViewModel

@{
    ViewBag.Title = "title";

}
<style>
    .subject-info-box-1,
    .subject-info-box-2 {
        float: left;
        width: 45%;
        select

    {
        height: 200px;
        padding: 0;
        option

    {
        padding: 4px 10px 4px 10px;
    }

    option:hover {
        background: #EEEEEE;
    }

    }
    }

    .subject-info-arrows {
        float: left;
        width: 10%;
        input

    {
        width: 70%;
        margin-bottom: 5px;
    }
    }
</style>
<main class="main">
    <section class="courses">
        <h1 class="main-heading courses__heading">Vytvořit nový blog</h1>
        @using (Html.BeginForm("New", "Blog", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.LabelFor(m => m.Blog.Name)
                @Html.TextBoxFor(m => m.Blog.Name)
                @Html.ValidationMessageFor(m => m.Blog.Name)
            </p>

            <p>
                @Html.LabelFor(m => m.Blog.Description)
                @Html.TextAreaFor(m => m.Blog.Description, new { id = "textArea" })
                @Html.ValidationMessageFor(m => m.Blog.Description)
            </p>
            <p>
                @Html.LabelFor(m => m.Blog.Author_Id)
                @Html.DropDownListFor(m => m.Blog.Author_Id, new SelectList(Model.Persons, "Id", "Name"))
                @Html.ValidationMessageFor(m => m.Blog.Author_Id)
            </p>
            <p>
                @Html.LabelFor(m => m.Blog.UrlTitle)
                @Html.TextBoxFor(m => m.Blog.UrlTitle)
                @Html.ValidationMessageFor(m => m.Blog.UrlTitle)
            </p>

            <div class="subject-info-box-1">
                <select multiple="multiple" id='lstBox1' class="form-control">
                 
                </select>
            </div>

            <div class="subject-info-arrows text-center">
                <input type='button' id='btnRight' value='>' class="btn btn-default" /><br />
                <input type='button' id='btnLeft' value='<' class="btn btn-default" /><br />
            </div>

      

            <div class="subject-info-box-2">
                <select multiple="multiple" id='lstBox2' class="form-control">
                    @foreach (var tag in new DataService().GetTags())
                    {
                        <option value="@tag.Name">@tag.Name</option>
                    }
                </select>
            </div>
            <p>
                <label>tagy</label>

                @Html.TextBoxFor(m => m.Tagy , "..." ,new { id = "tags",name= "Tagy", @readonly = "readonly"})

            </p>
            <p>
                <button type="submit">Vytvořit</button>
                <div id="pageloader" style="display: none;">
                    <img src="/media/30.svg" alt="processing..." />
                </div>
            </p>
            <span>@ViewBag.Message</span>
            if (ViewData["Saved"] != null)
            {
                @Html.Label(ViewData["Saved"].ToString())
            }
        }

    </section>
</main>


@section scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script type="text/javascript">

        var simplemde = new SimpleMDE({ element: document.getElementById("textArea") });

        $(document).ready(function () {
            $("#myform").on("submit", function () {
                console.log("submit pressed")
                $("#pageloader").toggle();
            });//submit
        });


        (function () {

            $("#btnRight").click(function (e) {
                var selectedOpts = $('#lstBox1 option:selected');
                if (selectedOpts.length == 0) {
                    e.preventDefault();
                }

                $('#lstBox2').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                $('#tags').val("")
                e.preventDefault();
                let tags = "";
                $("#lstBox1 > option").each(function () {
                    tags  = tags + ("#" + $(this).val() + " ")
                    $('#tags').val(tags)
                    $('#tags').change()
                    console.log($(this).val())
                });
            });

            $('#btnLeft').click(function (e) {
                var selectedOpts = $('#lstBox2 option:selected');
                if (selectedOpts.length == 0) {
                    e.preventDefault();
                }

                $('#lstBox1').append($(selectedOpts).clone());
                $(selectedOpts).remove();
                e.preventDefault();
                $('#tags').val("")
                let tags = "";
                $("#lstBox1 > option").each(function () {
                    tags = tags + ("#" + $(this).val() + " ")
                    $('#tags').val(tags)
                    $('#tags').change()
                    console.log($(this).val())
                });
            });


        }(jQuery));



    </script>

}