@using System.Web.UI.WebControls
@using TestWebAppCoolName.Helpers
@model TestWebAppCoolName.Controllers.CourseViewModel
@{
    ViewBag.Title = "title";

}



<main class="main">
    <section class="courses">
        <h1 class="main-heading courses__heading">Vytvořit nový kurz</h1>
        @using (Html.BeginForm("New", "Course", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.LabelFor(m => m.Course.Name)
                @Html.TextBoxFor(m => m.Course.Name)
                @Html.ValidationMessageFor(m => m.Course.Name)
            </p>

            <p>
                @Html.LabelFor(m => m.Course.Description)
                @Html.TextAreaFor(m => m.Course.Description)
                @Html.ValidationMessageFor(m => m.Course.Description)
            </p>
            <p>
                @Html.LabelFor(m => m.Course.Lector_Id)
                @Html.DropDownListFor(m => m.Course.Lector_Id, new SelectList(Model.Persons, "Id", "Name"))
                @Html.ValidationMessageFor(m => m.Course.Lector_Id)
            </p>
            <p>
                @Html.LabelFor(m => m.Course.UrlTitle)
                @Html.TextBoxFor(m => m.Course.UrlTitle)
                @Html.ValidationMessageFor(m => m.Course.UrlTitle)
            </p>
            <p>
                @Html.LabelFor(m => m.Course.Modificator)
                @Html.TextBoxFor(m => m.Course.Modificator)
                @Html.ValidationMessageFor(m => m.Course.Modificator)
            </p>

            <p>
                @Html.LabelFor(m => m.Course.Svg)
                @Html.TextAreaFor(m => m.Course.Svg)
                @Html.ValidationMessageFor(m => m.Course.Svg)
            </p>


            <div>
                <div class="subject-info-box-1">
                    <select multiple="multiple" id='lstBox1' class="form-control">
                        @if (Model.Course?.Tags != null)
                        {
                            foreach (var tag in Model.Course.Tags)
                            {
                                <option value="@tag.Name">@tag.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="subject-info-arrows text-center">
                    <input type='button' id='btnRight' value=&gt; class="btn btn-default" /><br />
                    <input type='button' id='btnLeft' value=&lt; class="btn btn-default" /><br />
                </div>



                <div class="subject-info-box-2">
                    <select multiple="multiple" id='lstBox2' class="form-control">
                        @foreach (var tag in new DataService().GetTags())
                        {
                            bool exist = false;
                            if (Model.Course?.Tags != null)
                            {
                                exist = (Model.Course.Tags).Any(t => t.Id == tag.Id);
                            }
                            if (!exist)
                            {
                                <option value="@tag.Name">@tag.Name</option>
                            }
                        }
                    </select>
                </div>
                <p>
                    <label>tagy</label>

                    @Html.TextBoxFor(m => m.Tagy, "...", new { id = "tags", name = "Tagy", @readonly = "readonly" })

                </p>
            </div>



            <p>
                <button type="submit">Vytvořit</button>
                <div id="pageloader" style="display: none;">
                    <img src="/media/30.svg" alt="processing..." />
                </div>
            </p>
            <span>@ViewBag.Message</span>
            if (ViewData["Saved"] != null)
            {
                @Html.Label(ViewData["Saved"].ToString())
            }
        }

    </section>
</main>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#myform").on("submit", function () {
                console.log("submit pressed")
                $("#pageloader").toggle();
            });//submit
        });
    </script>

}









