@model TestWebAppCoolName.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Zapomenuté heslo";
}
<body class="body--admin">
    @Html.Partial("_LoginPartial")
    <main class="main">
        <h1>@ViewBag.Title.</h1>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Zadejte e-mail.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div>
                <p class="form-item">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </p>
                <p>
                    <button type="submit" id="save">Odeslat</button>

                </p>
            </div>
        }
    </main>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
