@model TestWebAppCoolName.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset hesla";
}
<body class="body body--index">

    <header class="header header--index" id="site-header">
        @Html.Partial("toolbarPartialView")
    </header>

    <main class="main">
        <h1>@ViewBag.Title.</h1>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div>
              
                <p class="form-item">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </p>
                <p class="form-item">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </p>
                <p class="form-item">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </p>
                <p>
                    <button type="submit" id="save">Resetovat</button>

                </p>
            </div>

        
        }
    </main>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
