<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/TagScripts.js")
    @Scripts.Render("~/bundles/QuillScript")

</head>

       
     

@RenderBody()



@RenderSection("scripts", required: false)

</html>
