@using TestWebAppCoolName.Helpers
<!DOCTYPE html>
<html>
<head>
    @{
        if (ViewBag.Description == null) {
            ViewBag.Description = "Za léta praxe jsme nasáli tuny zkušeností a vědomostí, které bychom rádi pustili do světa. Najměte nás a naučíme vás moderní způsoby vývoje nativních a webových aplikací.";
        }

        if (ViewBag.Thumbnail == null)
        {
            ViewBag.Thumbnail = "media/web-thumbnail.png";
        }
    }

    <meta property="og:image" content="http://www.vkurzu.cz/@ViewBag.Thumbnail"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="@Request.Url.AbsoluteUri"/>
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:description" content="@ViewBag.Description"/>
    @*<meta property="og:description" content="Za léta praxe jsme nasáli tuny zkušeností a vědomostí, které bychom rádi pustili do světa. Najměte nás a naučíme vás moderní způsoby vývoje nativních a webových aplikací." />*@
    <link rel="icon" type="image/png" href="/content/favicon.png"/>
    <link rel="icon" type="image/png" href="/content/favicon-2x.png"/>
    <link rel="icon" type="image/png" href="/content/favicon-6x.png"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="/scripts/highlight.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="stylesheet"
          href="/Content/Highlight/monokai-sublime.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/TagScripts.js")
    @Scripts.Render("~/Scripts/ThumbnailJs.js")
    @Scripts.Render("~/bundles/QuillScript")
    <!-- Facebook Thumbnail sharing -->
    <!-- Facebook Pixel Code -->
    <script>
        !function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document,
            'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '549385278923811');
        fbq('track', 'PageView');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146457992-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());

        gtag('config', 'UA-146457992-1');
    </script>
    <noscript>
        <img height="1" width="1" style="display: none"
             src="https://www.facebook.com/tr?id=549385278923811&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->


</head>




@RenderBody()



@RenderSection("scripts", required: false)

<footer class="footer footer--blog">

    <hr>
    <nav class="nav" role="navigation">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#courses">Kurzy</a></li><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Blog",new{title = "index"})">Blog</a></li><li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#contact">Kontakt</a></li>
        </ul></nav>
    <p>
        <small>&copy;
            <span id="copyright-year">2019</span> vKurzu.cz</small></p>
</footer>

    <script type="text/javascript">
        jQuery(document).keydown(function(event) {
                // If Control or Command key is pressed and the S key is pressed
                // run save function. 83 is the key code for S.
                if ((event.ctrlKey || event.metaKey) && event.which == 83) {
                    // Save Function
                    console.log("save")
                    $('#save').click()
                    event.preventDefault();
                    return false;
                }
            }
        );
    </script>


</html>
