<!DOCTYPE html>
<html>
<head>
    <meta property="og:image" content="http://www.vkurzu.cz/media/web-thumbnail.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.vkurzu.cz" />
    <meta property="og:title" content="vKurzu.cz" />
    <meta property="og:description" content="Za léta praxe jsme nasáli tuny zkušeností a vědomostí, které bychom rádi pustili do světa. Najměte nás a naučíme vás moderní způsoby vývoje nativních a webových aplikací." />
    <link rel="icon" type="image/png" href="/content/favicon.png" />
    <link rel="icon" type="image/png" href="/content/favicon-2x.png" />
    <link rel="icon" type="image/png" href="/content/favicon-6x.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="/scripts/highlight.js"></script>
    <link rel="stylesheet"
          href="/Content/Highlight/monokai-sublime.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/Scripts/TagScripts.js")
    @Scripts.Render("~/bundles/QuillScript")
    <!-- Facebook Thumbnail sharing -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '453054422113100');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=453054422113100&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->


</head>




@RenderBody()



@RenderSection("scripts", required: false)



    <script type="text/javascript">
        jQuery(document).keydown(function(event) {
                // If Control or Command key is pressed and the S key is pressed
                // run save function. 83 is the key code for S.
                if ((event.ctrlKey || event.metaKey) && event.which == 83) {
                    // Save Function
                    console.log("save")
                    $('#save').click()
                    event.preventDefault();
                    return false;
                }
            }
        );
    </script>


</html>
