   <nav class="nav" role="navigation">
    <a class="site-branding" href="@Url.Action("Index","Home")">
        @Html.Partial("logoPartialView")
       </a>
       <ul class="nav__list">
           <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#courses">Kurzy</a></li>
           <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Blog",new{title = "index"})">Blog</a></li>
           <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#contact">Kontakt</a></li>
       </ul>
   </nav>
