@model TestWebAppCoolName.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Změna hesla";
}
<body class="body--admin">
@Html.Partial("_LoginPartial")
<main class="main">

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Změna hesla</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div>
            <p class="form-item">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </p>
            <p class="form-item">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </p>
            <p class="form-item">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </p>
          
            <p>
                <button type="submit" id="save">Vytvořit</button>

            </p>
        </div>

 
    }
</main>

</body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
